################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/css-dashboard
/css
/js-dashboard
/js
/lib
/libbc
/SiteMap
/sass-dashboard
/sass
/project
/proimagebk
/site.webmanifest
/safari-pinned-tab.svg
/robots.txt
/mstile-150x150.png
/html_code.html
/favicon.ico
/favicon-32x32.png
/favicon-16x16.png
/browserconfig.xml
/apple-touch-icon.png
/android-chrome-256x256.png
/android-chrome-192x192.png
